@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>UMKC</h1>
    <p class="lead">This page has being prepared for the Advanced Software Engineering Course</p>
  
</div>

<div class="row">
   
</div>